workflows/CIO-DynatraceAlertInvestigate-current.json
{
  "updatedAt": "2026-05-28T18:49:58.336Z",
  "createdAt": "2026-05-28T15:11:56.965Z",
  "id": "iumcttnrUl3Rq6PH",
  "name": "CIO-DynatraceAlertInvestigate-v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## CIO-DynatraceAlertInvestigate-v1\n**Purpose:** Receive PagerDuty Dynatrace MCP enrichment webhook and trigger Composer DAG investigation\n**Trigger:** Webhook POST from PagerDuty MCP enrichment at `/webhook/datahub-composer-dags-investigate`\n**Authentication:** Bearer token header \u2014 `Authorization: Bearer <token>` (configured in PagerDuty Web API connection)\n**Owner:** CIO DataHub team",
        "height": 130,
        "width": 1200,
        "color": 0
      },
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        48
      ]
    },
    {
      "parameters": {
        "content": "### Receive & Validate\nAccepts POST from PagerDuty MCP enrichment. Validates Bearer token header and checks payload shape.",
        "height": 80,
        "width": 380,
        "color": 3
      },
      "id": "sticky-receive",
      "name": "Section - Receive",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        224
      ]
    },
    {
      "parameters": {
        "content": "### Extract & Route\nParses PagerDuty incident context, extracts DAG names and GCP project info for investigation.",
        "height": 80,
        "width": 380,
        "color": 3
      },
      "id": "sticky-process",
      "name": "Section - Process",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        224
      ]
    },
    {
      "parameters": {
        "content": "### Respond\nReturns 200 OK immediately to PagerDuty so the webhook call doesn't time out.",
        "height": 80,
        "width": 300,
        "color": 2
      },
      "id": "sticky-respond",
      "name": "Section - Respond",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        224
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "datahub-composer-dags-investigate",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "node-webhook",
      "name": "PagerDuty MCP Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zt4TZEe7CZ29utc4",
          "name": "PagerDuty MCP - Webhook Auth"
        }
      },
      "webhookId": "0ea7c257-fdc2-447a-ae44-87c8940a3578"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "check-incident-id",
              "leftValue": "={{ $json.incident_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "combineConditions": "all"
      },
      "id": "node-validate",
      "name": "Validate Payload Shape",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        352
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "incident_id",
              "value": "={{ $json.incident_id ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "incident_number",
              "value": "={{ $json.incident_number ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "title",
              "value": "={{ $json.title ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "status",
              "value": "={{ $json.status ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "urgency",
              "value": "={{ $json.urgency ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "priority",
              "value": "={{ $json.priority ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "incident_url",
              "value": "={{ $json.incident_url ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "service_name",
              "value": "={{ $json.service_name ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f9",
              "name": "monitoring_source",
              "value": "={{ $json.monitoring_source ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "runbook_link",
              "value": "={{ $json.runbook_link ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "business_unit",
              "value": "={{ $json.business_unit ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f12",
              "name": "triggered_at",
              "value": "={{ $json.triggered_at ?? new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "f13",
              "name": "received_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "f14",
              "name": "dag_name",
              "value": "={{ ($json.title ?? \"\").match(/Composer DAG Failure \\| (.+?) in /)?.[1] ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "f15",
              "name": "cluster",
              "value": "={{ ($json.title ?? \"\").match(/ in ([\\w-]+)$/)?.[1] ?? \"unknown\" }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "node-extract",
      "name": "Extract Alert Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log the incoming alert for debugging and audit trail\nconst item = $input.first().json;\nconsole.log('[DynatraceInvestigate] Received alert:', JSON.stringify({\n  incident_id: item.incident_id,\n  incident_title: item.incident_title,\n  service_name: item.service_name,\n  received_at: item.received_at\n}));\nreturn $input.all();"
      },
      "id": "node-log",
      "name": "Log Investigation Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"received\", incident_id: $json.incident_id, dag_name: $json.dag_name, cluster: $json.cluster }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1184,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"error\", \"message\": \"Invalid or missing payload\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "node-respond-bad",
      "name": "Respond 400 Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        480
      ]
    }
  ],
  "connections": {
    "PagerDuty MCP Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload Shape": {
      "main": [
        [
          {
            "node": "Extract Alert Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400 Bad Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Alert Context": {
      "main": [
        [
          {
            "node": "Log Investigation Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Investigation Request": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "",
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a4adf49b-67af-4cbf-8568-6b17f442ff1c",
  "activeVersionId": "a4adf49b-67af-4cbf-8568-6b17f442ff1c",
  "versionCounter": 21,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-28T15:11:56.965Z",
      "createdAt": "2026-05-28T15:11:56.965Z",
      "role": "workflow:owner",
      "workflowId": "iumcttnrUl3Rq6PH",
      "projectId": "fIM9kFtYqFN2V0b4",
      "project": {
        "updatedAt": "2026-05-28T13:52:36.691Z",
        "createdAt": "2026-05-28T13:52:36.691Z",
        "id": "fIM9kFtYqFN2V0b4",
        "name": "Thiago Zago <thiago.zago1@telus.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c042fa39-54dc-4369-8a5c-3cbeb6d61d93"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-28T18:49:58.352Z",
    "createdAt": "2026-05-28T18:49:58.352Z",
    "versionId": "a4adf49b-67af-4cbf-8568-6b17f442ff1c",
    "workflowId": "iumcttnrUl3Rq6PH",
    "nodes": [
      {
        "parameters": {
          "content": "## CIO-DynatraceAlertInvestigate-v1\n**Purpose:** Receive PagerDuty Dynatrace MCP enrichment webhook and trigger Composer DAG investigation\n**Trigger:** Webhook POST from PagerDuty MCP enrichment at `/webhook/datahub-composer-dags-investigate`\n**Authentication:** Bearer token header \u2014 `Authorization: Bearer <token>` (configured in PagerDuty Web API connection)\n**Owner:** CIO DataHub team",
          "height": 130,
          "width": 1200,
          "color": 0
        },
        "id": "sticky-overview",
        "name": "Overview",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          48
        ]
      },
      {
        "parameters": {
          "content": "### Receive & Validate\nAccepts POST from PagerDuty MCP enrichment. Validates Bearer token header and checks payload shape.",
          "height": 80,
          "width": 380,
          "color": 3
        },
        "id": "sticky-receive",
        "name": "Section - Receive",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          224
        ]
      },
      {
        "parameters": {
          "content": "### Extract & Route\nParses PagerDuty incident context, extracts DAG names and GCP project info for investigation.",
          "height": 80,
          "width": 380,
          "color": 3
        },
        "id": "sticky-process",
        "name": "Section - Process",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          688,
          224
        ]
      },
      {
        "parameters": {
          "content": "### Respond\nReturns 200 OK immediately to PagerDuty so the webhook call doesn't time out.",
          "height": 80,
          "width": 300,
          "color": 2
        },
        "id": "sticky-respond",
        "name": "Section - Respond",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1136,
          224
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "datahub-composer-dags-investigate",
          "responseMode": "responseNode",
          "options": {},
          "authentication": "headerAuth"
        },
        "id": "node-webhook",
        "name": "PagerDuty MCP Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          256,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zt4TZEe7CZ29utc4",
            "name": "PagerDuty MCP - Webhook Auth"
          }
        },
        "webhookId": "0ea7c257-fdc2-447a-ae44-87c8940a3578"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "id": "check-incident-id",
                "leftValue": "={{ $json.incident_id !== undefined }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equal"
                }
              }
            ]
          },
          "combineConditions": "all"
        },
        "id": "node-validate",
        "name": "Validate Payload Shape",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          496,
          352
        ]
      },
      {
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "f1",
                "name": "incident_id",
                "value": "={{ $json.incident_id ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f2",
                "name": "incident_number",
                "value": "={{ $json.incident_number ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f3",
                "name": "title",
                "value": "={{ $json.title ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f4",
                "name": "status",
                "value": "={{ $json.status ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f5",
                "name": "urgency",
                "value": "={{ $json.urgency ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f6",
                "name": "priority",
                "value": "={{ $json.priority ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f7",
                "name": "incident_url",
                "value": "={{ $json.incident_url ?? \"\" }}",
                "type": "string"
              },
              {
                "id": "f8",
                "name": "service_name",
                "value": "={{ $json.service_name ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f9",
                "name": "monitoring_source",
                "value": "={{ $json.monitoring_source ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f10",
                "name": "runbook_link",
                "value": "={{ $json.runbook_link ?? \"\" }}",
                "type": "string"
              },
              {
                "id": "f11",
                "name": "business_unit",
                "value": "={{ $json.business_unit ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f12",
                "name": "triggered_at",
                "value": "={{ $json.triggered_at ?? new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "f13",
                "name": "received_at",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              },
              {
                "id": "f14",
                "name": "dag_name",
                "value": "={{ ($json.title ?? \"\").match(/Composer DAG Failure \\| (.+?) in /)?.[1] ?? \"unknown\" }}",
                "type": "string"
              },
              {
                "id": "f15",
                "name": "cluster",
                "value": "={{ ($json.title ?? \"\").match(/ in ([\\w-]+)$/)?.[1] ?? \"unknown\" }}",
                "type": "string"
              }
            ]
          }
        },
        "id": "node-extract",
        "name": "Extract Alert Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "// Log the incoming alert for debugging and audit trail\nconst item = $input.first().json;\nconsole.log('[DynatraceInvestigate] Received alert:', JSON.stringify({\n  incident_id: item.incident_id,\n  incident_title: item.incident_title,\n  service_name: item.service_name,\n  received_at: item.received_at\n}));\nreturn $input.all();"
        },
        "id": "node-log",
        "name": "Log Investigation Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          304
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ status: \"received\", incident_id: $json.incident_id, dag_name: $json.dag_name, cluster: $json.cluster }) }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "node-respond-ok",
        "name": "Respond 200 OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1184,
          304
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"status\": \"error\", \"message\": \"Invalid or missing payload\"}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "node-respond-bad",
        "name": "Respond 400 Bad Request",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          720,
          480
        ]
      }
    ],
    "connections": {
      "PagerDuty MCP Webhook": {
        "main": [
          [
            {
              "node": "Validate Payload Shape",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Payload Shape": {
        "main": [
          [
            {
              "node": "Extract Alert Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 400 Bad Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Alert Context": {
        "main": [
          [
            {
              "node": "Log Investigation Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Investigation Request": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thiago Zago",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-28T18:49:58.773Z",
        "id": 15895,
        "workflowId": "iumcttnrUl3Rq6PH",
        "versionId": "a4adf49b-67af-4cbf-8568-6b17f442ff1c",
        "event": "deactivated",
        "userId": "c042fa39-54dc-4369-8a5c-3cbeb6d61d93"
      },
      {
        "createdAt": "2026-05-28T18:49:59.041Z",
        "id": 15896,
        "workflowId": "iumcttnrUl3Rq6PH",
        "versionId": "a4adf49b-67af-4cbf-8568-6b17f442ff1c",
        "event": "activated",
        "userId": "c042fa39-54dc-4369-8a5c-3cbeb6d61d93"
      },
      {
        "createdAt": "2026-05-28T18:50:36.128Z",
        "id": 15897,
        "workflowId": "iumcttnrUl3Rq6PH",
        "versionId": "a4adf49b-67af-4cbf-8568-6b17f442ff1c",
        "event": "deactivated",
        "userId": "c042fa39-54dc-4369-8a5c-3cbeb6d61d93"
      },
      {
        "createdAt": "2026-05-28T18:50:36.328Z",
        "id": 15898,
        "workflowId": "iumcttnrUl3Rq6PH",
        "versionId": "a4adf49b-67af-4cbf-8568-6b17f442ff1c",
        "event": "activated",
        "userId": "c042fa39-54dc-4369-8a5c-3cbeb6d61d93"
      }
    ]
  }
}