workflows/Datahub-Composer-Dags-Enrichment.json
{
  "updatedAt": "2026-06-02T19:45:24.336Z",
  "createdAt": "2026-05-28T15:11:56.965Z",
  "id": "iumcttnrUl3Rq6PH",
  "name": "Datahub Composer Dags Enrichment",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Datahub Composer Dags Enrichment\n**Purpose:** Receive PagerDuty Dynatrace MCP enrichment webhook and trigger Composer DAG investigation\n**Trigger:** Webhook POST from PagerDuty MCP enrichment at `/webhook/datahub-composer-dags-investigate`\n**Authentication:** Bearer token header — `Authorization: Bearer <token>` (configured in PagerDuty Web API connection)\n**Owner:** CIO DataHub team",
        "height": 130,
        "width": 1200,
        "color": 0
      },
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "content": "### Receive & Validate\nAccepts POST from PagerDuty MCP enrichment. Validates Bearer token header and checks payload shape.",
        "height": 80,
        "width": 380,
        "color": 3
      },
      "id": "sticky-receive",
      "name": "Section - Receive",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        240
      ]
    },
    {
      "parameters": {
        "content": "### Extract & Route\nParses PagerDuty incident context, extracts DAG names and GCP project info for investigation.",
        "height": 80,
        "width": 380,
        "color": 3
      },
      "id": "sticky-process",
      "name": "Section - Process",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        144
      ]
    },
    {
      "parameters": {
        "content": "### Respond\nReturns 200 OK immediately to PagerDuty so the webhook call doesn't time out.",
        "height": 80,
        "width": 300,
        "color": 2
      },
      "id": "sticky-respond",
      "name": "Section - Respond",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        432
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "datahub-composer-dags-investigate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "PagerDuty MCP Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -32,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zt4TZEe7CZ29utc4",
          "name": "PagerDuty MCP - Webhook Auth"
        }
      },
      "webhookId": "3ed95290-0a9b-486c-a62a-c31f7ed96212"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-incident-id",
              "name": "incident_id",
              "value": "={{ $json.body?.incident_id ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-incident-number",
              "name": "incident_number",
              "value": "={{ $json.body?.incident_number ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-incident-title",
              "name": "incident_title",
              "value": "={{ $json.body?.title ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-dag-id",
              "name": "dag_id",
              "value": "={{ ($json.body?.title ?? '').match(/\\|\\s*(.+?)\\s+in\\s+/)?.[1] ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-composer",
              "name": "composer",
              "value": "={{ ($json.body?.title ?? '').match(/\\s+in\\s+(.+?)\\s+(?:from|for)\\s+/)?.[1] ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-project",
              "name": "project",
              "value": "={{ ($json.body?.title ?? '').match(/\\s+(?:from|for)\\s+(.+?)\\s+failed/)?.[1] ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-service",
              "name": "service_name",
              "value": "={{ $json.body?.service_name ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-raw",
              "name": "raw_payload",
              "value": "={{ JSON.stringify($json.body ?? {}) }}",
              "type": "string"
            },
            {
              "id": "field-received-at",
              "name": "received_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract Alert Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        336
      ]
    },
    {
      "parameters": {
        "content": "### Check if DAG Supported\n**Get DAG from Table**: Queries n8n Data Table \"SRE_Supported_Composer_Dags\" by dag_id.\n**DAG Support Lookup**: Resolves composer shorthand, sets dag_supported flag.\n**IF**: true (Supported/Critical) → left, false (Not Found/Not Supported) → right.",
        "height": 112,
        "width": 700,
        "color": 3
      },
      "id": "sticky-check",
      "name": "Section - Check Support",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-supported",
              "leftValue": "={{ String($json.dag_supported) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-dag",
      "name": "Check if DAG supported",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "u1tsjfOi0eBh77y5",
          "mode": "id"
        },
        "returnAll": true
      },
      "id": "node-registry-lookup",
      "name": "Get Latest DAG Table ID",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        608,
        320
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Pick Latest Table ID').first().json.dag_table_id }}",
          "mode": "id"
        },
        "returnAll": true
      },
      "id": "node-datatable-lookup",
      "name": "Get DAG from Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1152,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const COMPOSER_MAP = {\n  'b1':'datahub-composer-c-1-pr','b2':'datahub-composer-c-2-pr',\n  'b3':'datahub-composer-c-3-pr','c1':'datahub-composer-c-1-pr',\n  'c2':'datahub-composer-c-2-pr','c3':'datahub-composer-c-3-pr',\n  'c4':'datahub-composer-c-4-pr','datahub-composer-2':'datahub-composer-c-2-pr'\n};\n\nconst extracted = $('Extract Alert Context').first().json;\nconst dagId = (extracted.dag_id ?? '').trim().toLowerCase();\nconst composerFromPayload = (extracted.composer ?? '').trim();\n\n// All rows from Data Table — find matching DAG (case-insensitive)\nconst rows = $input.all();\nconst match = rows.find(r => (r.json['DAG'] ?? '').trim().toLowerCase() === dagId);\nconst matchRow = match ? match.json : null;\n\nlet resolvedComposer = composerFromPayload;\nlet dag_supported = false;\nlet support_status = 'Not Found';\nlet support_reason = \"DAG '\" + extracted.dag_id + \"' not found in SRE support table\";\n\n// Enrichment fields from the matched DataTable row\nlet pd_priority = '';   // 'P1' | 'P2' | '' (blank → -- in PagerDuty)\nlet sme = '';\nlet runbook = '';\n\nif (matchRow) {\n  const sheetComposer = (matchRow['Datahub Composer'] ?? '').trim();\n  if (sheetComposer) {\n    resolvedComposer = COMPOSER_MAP[sheetComposer] ?? sheetComposer;\n  }\n  const notes = (matchRow['OtherNotes'] ?? '').split(';')[0].trim();\n  support_status = notes;\n  if (notes.toLowerCase() === 'not supported') {\n    dag_supported = false;\n    support_reason = \"DAG '\" + extracted.dag_id + \"' is explicitly marked as Not Supported\";\n  } else {\n    dag_supported = true;\n    support_reason = \"DAG '\" + extracted.dag_id + \"' is \" + notes;\n  }\n\n  // Priority: accept only P1/P2 (case-insensitive), else leave blank for --\n  const rawPriority = (matchRow['Priority'] ?? '').trim().toUpperCase();\n  pd_priority = (rawPriority === 'P1' || rawPriority === 'P2') ? rawPriority : '';\n  sme = (matchRow['SME'] ?? '').trim();\n  runbook = (matchRow['Runbook'] ?? '').trim();\n  // Ensure runbook is a full URL so PagerDuty auto-linkifies it.\n  if (runbook && !/^https?:\\/\\//i.test(runbook)) {\n    runbook = 'https://' + runbook.replace(/^\\/+/, '');\n  }\n}\n\nreturn [{ json: { ...extracted, composer: resolvedComposer, dag_supported, support_status, support_reason, pd_priority, sme, runbook } }];\n"
      },
      "id": "node-dag-lookup",
      "name": "DAG Support Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        304
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.pagerduty.com/priorities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.pagerduty+json;version=2"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-pd-get-priorities",
      "name": "Get PD Priorities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        544
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "luQ8XqEDW77eI5xm",
          "name": "PagerDuty REST API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Resolve the P1/P2 label from DAG Support Lookup to a PagerDuty priority ID.\n// Blank or no match => priority_id null => incident priority shows as -- in PagerDuty.\nconst ctx = $('DAG Support Lookup').first().json;\nconst wanted = (ctx.pd_priority ?? '').trim().toUpperCase();\n\nconst priorities = $json.priorities ?? [];\nlet priority_id = null;\nif (wanted) {\n  const hit = priorities.find(p => (p.name ?? '').trim().toUpperCase() === wanted);\n  priority_id = hit ? hit.id : null;\n}\n\n// Pre-build the request body here so the HTTP node never parses an object literal\n// inside a {{ }} expression (n8n Tournament fails on `? {...} : null`).\n\n// Pre-build the incident-note body (notes render clickable links in PagerDuty,\n// unlike the text custom field). Posted only when a runbook URL exists.\nconst rb = (ctx.runbook ?? '').trim();\nconst note_text = rb ? ('Runbook: ' + rb) : '';\nconst has_runbook = rb ? 'true' : 'false';\nconst note_body = JSON.stringify({ note: { content: note_text } });\n\nconst priority_body = JSON.stringify({\n  incident: {\n    type: 'incident_reference',\n    priority: priority_id ? { id: priority_id, type: 'priority_reference' } : null,\n  },\n});\n\nreturn [{ json: { ...ctx, priority_id, priority_body, note_text, has_runbook, note_body } }];\n"
      },
      "id": "node-resolve-priority",
      "name": "Resolve Priority ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        544
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pagerduty.com/incidents/{{ $json.incident_id }}/custom_fields/values",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "thiago.zago1@telus.com"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pagerduty+json;version=2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\"custom_fields\":[{\"name\":\"f_status\",\"value\":\"SRE Supported\"},{\"name\":\"f_title\",\"value\":$json.dag_id},{\"name\":\"f_rootcause\",\"value\":($json.sme ? \"SME: \"+$json.sme : \"\")+($json.runbook ? ($json.sme ? \" | \" : \"\")+\"Runbook: \"+$json.runbook : \"\")}]}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-pd-update-supported",
      "name": "PD: Set Status = SRE Supported",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "luQ8XqEDW77eI5xm",
          "name": "PagerDuty REST API"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pagerduty.com/incidents/{{ $json.incident_id }}/custom_fields/values",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "thiago.zago1@telus.com"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pagerduty+json;version=2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\"custom_fields\":[{\"name\":\"f_status\",\"value\":\"SRE Not Supported\"},{\"name\":\"f_title\",\"value\":$json.dag_id},{\"name\":\"f_rootcause\",\"value\":($json.sme ? \"SME: \"+$json.sme : \"\")+($json.runbook ? ($json.sme ? \" | \" : \"\")+\"Runbook: \"+$json.runbook : \"\")}]}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-pd-update-not-supported",
      "name": "PD: Set Status = SRE Not Supported",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "luQ8XqEDW77eI5xm",
          "name": "PagerDuty REST API"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pagerduty.com/incidents/{{ $('Resolve Priority ID').first().json.incident_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "thiago.zago1@telus.com"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pagerduty+json;version=2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Resolve Priority ID').first().json.priority_body }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-pd-priority-supported",
      "name": "PD: Set Priority (Supported)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "luQ8XqEDW77eI5xm",
          "name": "PagerDuty REST API"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pagerduty.com/incidents/{{ $('Resolve Priority ID').first().json.incident_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "thiago.zago1@telus.com"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pagerduty+json;version=2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Resolve Priority ID').first().json.priority_body }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-pd-priority-not-supported",
      "name": "PD: Set Priority (Not Supported)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "luQ8XqEDW77eI5xm",
          "name": "PagerDuty REST API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"enriched\",\"message\":\"PagerDuty incident custom fields updated successfully\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond-final",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2864,
        304
      ]
    },
    {
      "parameters": {
        "content": "### Update PagerDuty Enrichments\nPer branch: PUT /incidents/{id}/custom_fields/values sets **f_status** (SRE Supported/Not Supported), **f_title** (dag_id), **f_rootcause** (SME + Runbook URL). Both set native **priority** (P1/P2 by name, blank → --). **Not-Supported only**: PUT /incidents/{id} sets **urgency=low**. When a runbook exists, post it as a clickable incident **note**. Then responds 200 OK.",
        "height": 110,
        "width": 560,
        "color": 2
      },
      "id": "sticky-pd-update",
      "name": "Section - PD Update",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1664,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = items.map(i => i.json); if (!rows.length) throw new Error('Registry table is empty — run DSC-GCP-DAG-List-Sync-v1 first'); const sorted = [...rows].sort((a,b) => new Date(b.createdAt) - new Date(a.createdAt)); return [{ json: { dag_table_id: sorted[0].dag_table_id } }];"
      },
      "id": "node-pick-latest-id",
      "name": "Pick Latest Table ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-runbook",
              "leftValue": "={{ $('Resolve Priority ID').first().json.has_runbook }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-runbook",
      "name": "Has Runbook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2416,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.pagerduty.com/incidents/{{ $('Resolve Priority ID').first().json.incident_id }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "thiago.zago1@telus.com"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pagerduty+json;version=2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Resolve Priority ID').first().json.note_body }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-add-runbook-note",
      "name": "Add Runbook Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "luQ8XqEDW77eI5xm",
          "name": "PagerDuty REST API"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pagerduty.com/incidents/{{ $('Resolve Priority ID').first().json.incident_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "thiago.zago1@telus.com"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pagerduty+json;version=2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"incident\":{\"type\":\"incident_reference\",\"urgency\":\"low\"}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-pd-urgency-low",
      "name": "PD: Set Urgency Low",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "luQ8XqEDW77eI5xm",
          "name": "PagerDuty REST API"
        }
      }
    }
  ],
  "connections": {
    "PagerDuty MCP Webhook": {
      "main": [
        [
          {
            "node": "Extract Alert Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Alert Context": {
      "main": [
        [
          {
            "node": "Get Latest DAG Table ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest DAG Table ID": {
      "main": [
        [
          {
            "node": "Pick Latest Table ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DAG Support Lookup": {
      "main": [
        [
          {
            "node": "Get PD Priorities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PD Priorities": {
      "main": [
        [
          {
            "node": "Resolve Priority ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Priority ID": {
      "main": [
        [
          {
            "node": "Check if DAG supported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if DAG supported": {
      "main": [
        [
          {
            "node": "PD: Set Status = SRE Supported",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PD: Set Status = SRE Not Supported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DAG from Table": {
      "main": [
        [
          {
            "node": "DAG Support Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PD: Set Status = SRE Supported": {
      "main": [
        [
          {
            "node": "PD: Set Priority (Supported)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PD: Set Priority (Supported)": {
      "main": [
        [
          {
            "node": "Has Runbook?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PD: Set Status = SRE Not Supported": {
      "main": [
        [
          {
            "node": "PD: Set Priority (Not Supported)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PD: Set Priority (Not Supported)": {
      "main": [
        [
          {
            "node": "PD: Set Urgency Low",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Latest Table ID": {
      "main": [
        [
          {
            "node": "Get DAG from Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Runbook?": {
      "main": [
        [
          {
            "node": "Add Runbook Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Runbook Note": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PD: Set Urgency Low": {
      "main": [
        [
          {
            "node": "Has Runbook?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "",
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4a11d29f-0273-49f0-9fe3-616ac9aab6c8",
  "activeVersionId": "4a11d29f-0273-49f0-9fe3-616ac9aab6c8",
  "versionCounter": 296,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-28T15:11:56.965Z",
      "createdAt": "2026-05-28T15:11:56.965Z",
      "role": "workflow:owner",
      "workflowId": "iumcttnrUl3Rq6PH",
      "projectId": "fIM9kFtYqFN2V0b4",
      "project": {
        "updatedAt": "2026-05-28T13:52:36.691Z",
        "createdAt": "2026-05-28T13:52:36.691Z",
        "id": "fIM9kFtYqFN2V0b4",
        "name": "Thiago Zago <thiago.zago1@telus.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c042fa39-54dc-4369-8a5c-3cbeb6d61d93"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-02T19:45:24.352Z",
    "createdAt": "2026-06-02T19:45:24.352Z",
    "versionId": "4a11d29f-0273-49f0-9fe3-616ac9aab6c8",
    "workflowId": "iumcttnrUl3Rq6PH",
    "nodes": [
      {
        "parameters": {
          "content": "## Datahub Composer Dags Enrichment\n**Purpose:** Receive PagerDuty Dynatrace MCP enrichment webhook and trigger Composer DAG investigation\n**Trigger:** Webhook POST from PagerDuty MCP enrichment at `/webhook/datahub-composer-dags-investigate`\n**Authentication:** Bearer token header — `Authorization: Bearer <token>` (configured in PagerDuty Web API connection)\n**Owner:** CIO DataHub team",
          "height": 130,
          "width": 1200,
          "color": 0
        },
        "id": "sticky-overview",
        "name": "Overview",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          288,
          0
        ]
      },
      {
        "parameters": {
          "content": "### Receive & Validate\nAccepts POST from PagerDuty MCP enrichment. Validates Bearer token header and checks payload shape.",
          "height": 80,
          "width": 380,
          "color": 3
        },
        "id": "sticky-receive",
        "name": "Section - Receive",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -80,
          240
        ]
      },
      {
        "parameters": {
          "content": "### Extract & Route\nParses PagerDuty incident context, extracts DAG names and GCP project info for investigation.",
          "height": 80,
          "width": 380,
          "color": 3
        },
        "id": "sticky-process",
        "name": "Section - Process",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          416,
          144
        ]
      },
      {
        "parameters": {
          "content": "### Respond\nReturns 200 OK immediately to PagerDuty so the webhook call doesn't time out.",
          "height": 80,
          "width": 300,
          "color": 2
        },
        "id": "sticky-respond",
        "name": "Section - Respond",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1808,
          432
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "datahub-composer-dags-investigate",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "node-webhook",
        "name": "PagerDuty MCP Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -32,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zt4TZEe7CZ29utc4",
            "name": "PagerDuty MCP - Webhook Auth"
          }
        },
        "webhookId": "3ed95290-0a9b-486c-a62a-c31f7ed96212"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field-incident-id",
                "name": "incident_id",
                "value": "={{ $json.body?.incident_id ?? 'unknown' }}",
                "type": "string"
              },
              {
                "id": "field-incident-number",
                "name": "incident_number",
                "value": "={{ $json.body?.incident_number ?? 'unknown' }}",
                "type": "string"
              },
              {
                "id": "field-incident-title",
                "name": "incident_title",
                "value": "={{ $json.body?.title ?? 'unknown' }}",
                "type": "string"
              },
              {
                "id": "field-dag-id",
                "name": "dag_id",
                "value": "={{ ($json.body?.title ?? '').match(/\\|\\s*(.+?)\\s+in\\s+/)?.[1] ?? 'unknown' }}",
                "type": "string"
              },
              {
                "id": "field-composer",
                "name": "composer",
                "value": "={{ ($json.body?.title ?? '').match(/\\s+in\\s+(.+?)\\s+(?:from|for)\\s+/)?.[1] ?? 'unknown' }}",
                "type": "string"
              },
              {
                "id": "field-project",
                "name": "project",
                "value": "={{ ($json.body?.title ?? '').match(/\\s+(?:from|for)\\s+(.+?)\\s+failed/)?.[1] ?? 'unknown' }}",
                "type": "string"
              },
              {
                "id": "field-service",
                "name": "service_name",
                "value": "={{ $json.body?.service_name ?? 'unknown' }}",
                "type": "string"
              },
              {
                "id": "field-raw",
                "name": "raw_payload",
                "value": "={{ JSON.stringify($json.body ?? {}) }}",
                "type": "string"
              },
              {
                "id": "field-received-at",
                "name": "received_at",
                "value": "={{ new Date().toISOString() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "node-extract",
        "name": "Extract Alert Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          320,
          336
        ]
      },
      {
        "parameters": {
          "content": "### Check if DAG Supported\n**Get DAG from Table**: Queries n8n Data Table \"SRE_Supported_Composer_Dags\" by dag_id.\n**DAG Support Lookup**: Resolves composer shorthand, sets dag_supported flag.\n**IF**: true (Supported/Critical) → left, false (Not Found/Not Supported) → right.",
          "height": 112,
          "width": 700,
          "color": 3
        },
        "id": "sticky-check",
        "name": "Section - Check Support",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          832,
          176
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-supported",
                "leftValue": "={{ String($json.dag_supported) }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-check-dag",
        "name": "Check if DAG supported",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1680,
          304
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "u1tsjfOi0eBh77y5",
            "mode": "id"
          },
          "returnAll": true
        },
        "id": "node-registry-lookup",
        "name": "Get Latest DAG Table ID",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          608,
          320
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "={{ $('Pick Latest Table ID').first().json.dag_table_id }}",
            "mode": "id"
          },
          "returnAll": true
        },
        "id": "node-datatable-lookup",
        "name": "Get DAG from Table",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1152,
          320
        ]
      },
      {
        "parameters": {
          "jsCode": "const COMPOSER_MAP = {\n  'b1':'datahub-composer-c-1-pr','b2':'datahub-composer-c-2-pr',\n  'b3':'datahub-composer-c-3-pr','c1':'datahub-composer-c-1-pr',\n  'c2':'datahub-composer-c-2-pr','c3':'datahub-composer-c-3-pr',\n  'c4':'datahub-composer-c-4-pr','datahub-composer-2':'datahub-composer-c-2-pr'\n};\n\nconst extracted = $('Extract Alert Context').first().json;\nconst dagId = (extracted.dag_id ?? '').trim().toLowerCase();\nconst composerFromPayload = (extracted.composer ?? '').trim();\n\n// All rows from Data Table — find matching DAG (case-insensitive)\nconst rows = $input.all();\nconst match = rows.find(r => (r.json['DAG'] ?? '').trim().toLowerCase() === dagId);\nconst matchRow = match ? match.json : null;\n\nlet resolvedComposer = composerFromPayload;\nlet dag_supported = false;\nlet support_status = 'Not Found';\nlet support_reason = \"DAG '\" + extracted.dag_id + \"' not found in SRE support table\";\n\n// Enrichment fields from the matched DataTable row\nlet pd_priority = '';   // 'P1' | 'P2' | '' (blank → -- in PagerDuty)\nlet sme = '';\nlet runbook = '';\n\nif (matchRow) {\n  const sheetComposer = (matchRow['Datahub Composer'] ?? '').trim();\n  if (sheetComposer) {\n    resolvedComposer = COMPOSER_MAP[sheetComposer] ?? sheetComposer;\n  }\n  const notes = (matchRow['OtherNotes'] ?? '').split(';')[0].trim();\n  support_status = notes;\n  if (notes.toLowerCase() === 'not supported') {\n    dag_supported = false;\n    support_reason = \"DAG '\" + extracted.dag_id + \"' is explicitly marked as Not Supported\";\n  } else {\n    dag_supported = true;\n    support_reason = \"DAG '\" + extracted.dag_id + \"' is \" + notes;\n  }\n\n  // Priority: accept only P1/P2 (case-insensitive), else leave blank for --\n  const rawPriority = (matchRow['Priority'] ?? '').trim().toUpperCase();\n  pd_priority = (rawPriority === 'P1' || rawPriority === 'P2') ? rawPriority : '';\n  sme = (matchRow['SME'] ?? '').trim();\n  runbook = (matchRow['Runbook'] ?? '').trim();\n  // Ensure runbook is a full URL so PagerDuty auto-linkifies it.\n  if (runbook && !/^https?:\\/\\//i.test(runbook)) {\n    runbook = 'https://' + runbook.replace(/^\\/+/, '');\n  }\n}\n\nreturn [{ json: { ...extracted, composer: resolvedComposer, dag_supported, support_status, support_reason, pd_priority, sme, runbook } }];\n"
        },
        "id": "node-dag-lookup",
        "name": "DAG Support Lookup",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          304
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.pagerduty.com/incidents/{{ $json.incident_id }}/custom_fields/values",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "From",
                "value": "thiago.zago1@telus.com"
              },
              {
                "name": "Accept",
                "value": "application/vnd.pagerduty+json;version=2"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({\"custom_fields\":[{\"name\":\"f_status\",\"value\":\"SRE Supported\"},{\"name\":\"f_title\",\"value\":$json.dag_id},{\"name\":\"f_rootcause\",\"value\":($json.sme ? \"SME: \"+$json.sme : \"\")+($json.runbook ? ($json.sme ? \" | \" : \"\")+\"Runbook: \"+$json.runbook : \"\")}]}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "node-pd-update-supported",
        "name": "PD: Set Status = SRE Supported",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1952,
          176
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "luQ8XqEDW77eI5xm",
            "name": "PagerDuty REST API"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.pagerduty.com/incidents/{{ $json.incident_id }}/custom_fields/values",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "From",
                "value": "thiago.zago1@telus.com"
              },
              {
                "name": "Accept",
                "value": "application/vnd.pagerduty+json;version=2"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({\"custom_fields\":[{\"name\":\"f_status\",\"value\":\"SRE Not Supported\"},{\"name\":\"f_title\",\"value\":$json.dag_id},{\"name\":\"f_rootcause\",\"value\":($json.sme ? \"SME: \"+$json.sme : \"\")+($json.runbook ? ($json.sme ? \" | \" : \"\")+\"Runbook: \"+$json.runbook : \"\")}]}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "node-pd-update-not-supported",
        "name": "PD: Set Status = SRE Not Supported",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1952,
          432
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "luQ8XqEDW77eI5xm",
            "name": "PagerDuty REST API"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"status\":\"enriched\",\"message\":\"PagerDuty incident custom fields updated successfully\"}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "node-respond-final",
        "name": "Respond 200 OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2864,
          304
        ]
      },
      {
        "parameters": {
          "content": "### Update PagerDuty Enrichments\nPer branch: PUT /incidents/{id}/custom_fields/values sets **f_status** (SRE Supported/Not Supported), **f_title** (dag_id), **f_rootcause** (SME + Runbook URL). Both set native **priority** (P1/P2 by name, blank → --). **Not-Supported only**: PUT /incidents/{id} sets **urgency=low**. When a runbook exists, post it as a clickable incident **note**. Then responds 200 OK.",
          "height": 80,
          "width": 420,
          "color": 2
        },
        "id": "sticky-pd-update",
        "name": "Section - PD Update",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1664,
          112
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const rows = items.map(i => i.json); if (!rows.length) throw new Error('Registry table is empty — run DSC-GCP-DAG-List-Sync-v1 first'); const sorted = [...rows].sort((a,b) => new Date(b.createdAt) - new Date(a.createdAt)); return [{ json: { dag_table_id: sorted[0].dag_table_id } }];"
        },
        "id": "node-pick-latest-id",
        "name": "Pick Latest Table ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          320
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "has-runbook",
                "leftValue": "={{ $('Resolve Priority ID').first().json.has_runbook }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-has-runbook",
        "name": "Has Runbook?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2416,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.pagerduty.com/incidents/{{ $('Resolve Priority ID').first().json.incident_id }}/notes",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "From",
                "value": "thiago.zago1@telus.com"
              },
              {
                "name": "Accept",
                "value": "application/vnd.pagerduty+json;version=2"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $('Resolve Priority ID').first().json.note_body }}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "node-add-runbook-note",
        "name": "Add Runbook Note",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2640,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "luQ8XqEDW77eI5xm",
            "name": "PagerDuty REST API"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.pagerduty.com/incidents/{{ $('Resolve Priority ID').first().json.incident_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "From",
                "value": "thiago.zago1@telus.com"
              },
              {
                "name": "Accept",
                "value": "application/vnd.pagerduty+json;version=2"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "{\"incident\":{\"type\":\"incident_reference\",\"urgency\":\"low\"}}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "node-pd-urgency-low",
        "name": "PD: Set Urgency Low",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2400,
          560
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "luQ8XqEDW77eI5xm",
            "name": "PagerDuty REST API"
          }
        }
      }
    ],
    "connections": {
      "PagerDuty MCP Webhook": {
        "main": [
          [
            {
              "node": "Extract Alert Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Alert Context": {
        "main": [
          [
            {
              "node": "Get Latest DAG Table ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Latest DAG Table ID": {
        "main": [
          [
            {
              "node": "Pick Latest Table ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DAG Support Lookup": {
        "main": [
          [
            {
              "node": "Check if DAG supported",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if DAG supported": {
        "main": [
          [
            {
              "node": "PD: Set Status = SRE Supported",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "PD: Set Status = SRE Not Supported",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get DAG from Table": {
        "main": [
          [
            {
              "node": "DAG Support Lookup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PD: Set Status = SRE Supported": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PD: Set Status = SRE Not Supported": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Latest Table ID": {
        "main": [
          [
            {
              "node": "Get DAG from Table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PD: Set Priority (Supported)": {
        "main": [
          [
            {
              "node": "Has Runbook?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PD: Set Priority (Not Supported)": {
        "main": [
          [
            {
              "node": "PD: Set Urgency Low",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Runbook?": {
        "main": [
          [
            {
              "node": "Add Runbook Note",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Runbook Note": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PD: Set Urgency Low": {
        "main": [
          [
            {
              "node": "Has Runbook?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thiago Zago",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-02T19:45:24.745Z",
        "id": 16604,
        "workflowId": "iumcttnrUl3Rq6PH",
        "versionId": "4a11d29f-0273-49f0-9fe3-616ac9aab6c8",
        "event": "deactivated",
        "userId": "c042fa39-54dc-4369-8a5c-3cbeb6d61d93"
      },
      {
        "createdAt": "2026-06-02T19:45:24.951Z",
        "id": 16605,
        "workflowId": "iumcttnrUl3Rq6PH",
        "versionId": "4a11d29f-0273-49f0-9fe3-616ac9aab6c8",
        "event": "activated",
        "userId": "c042fa39-54dc-4369-8a5c-3cbeb6d61d93"
      }
    ]
  }
}