workflows/Test-Read-Google-Sheet.json
{
  "updatedAt": "2026-06-02T16:43:59.287Z",
  "createdAt": "2026-06-02T15:55:23.075Z",
  "id": "hxjgDXTZkEeZmcKF",
  "name": "Test - Read Google Sheet DAG List",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Test - Read Google Sheet DAG List\n\nThis workflow reads the DAG list from a Google Sheet for testing purposes.\n\n**Sheet**: GCP App/DAG List\n**Range**: B:C\n**Mode**: Read-only",
        "height": 180,
        "width": 680,
        "color": 0
      },
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -288
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "**Read DAG List from Sheet**\n\nReads columns B and C from the GCP App/DAG List tab.\nFirst row is treated as header.",
        "height": 100,
        "width": 340,
        "color": 3
      },
      "id": "sticky-sheets",
      "name": "Sheets Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -128
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19JQ-4CU1PInH6Z_AUQKZ_pbyhR0cfR46IHsk9VHswy4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "GCP App/DAG List",
          "mode": "name"
        },
        "options": {}
      },
      "id": "google-sheets-read",
      "name": "Read DAG List from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        288,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aY5cxQ8CpL83zdck",
          "name": "SRE team Google Sheets Oauth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-dag-id",
              "name": "DAG_i",
              "value": "={{ $json.DAG }}",
              "type": "string"
            },
            {
              "id": "field-cluster",
              "name": "Cluster",
              "value": "={{ $json['Datahub Composer'] }}",
              "type": "string"
            },
            {
              "id": "027caa0f-1aeb-4de9-9d77-0365063f7e3a",
              "name": "OtherNotes",
              "value": "={{ $json.OtherNotes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-columns",
      "name": "Keep DAG_id and Cluster Only",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "content": "**Keep DAG_id and Cluster Only**\n\nStrips all other columns \u2014 outputs only DAG_id and Cluster per row.",
        "height": 100,
        "width": 300,
        "color": 2
      },
      "id": "sticky-set",
      "name": "Set Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -128
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read DAG List from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read DAG List from Sheet": {
      "main": [
        [
          {
            "node": "Keep DAG_id and Cluster Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4ea2b821-e3b0-4c53-a121-2eaf74ddcbe5",
  "activeVersionId": null,
  "versionCounter": 15,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-02T15:55:23.075Z",
      "createdAt": "2026-06-02T15:55:23.075Z",
      "role": "workflow:owner",
      "workflowId": "hxjgDXTZkEeZmcKF",
      "projectId": "fIM9kFtYqFN2V0b4",
      "project": {
        "updatedAt": "2026-05-28T13:52:36.691Z",
        "createdAt": "2026-05-28T13:52:36.691Z",
        "id": "fIM9kFtYqFN2V0b4",
        "name": "Thiago Zago <thiago.zago1@telus.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c042fa39-54dc-4369-8a5c-3cbeb6d61d93"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}